.header {
  padding: 20px 0 10px;
  background-image: url(../../assets/img/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header__content {
  max-width: 370px;
  width: 100%;
  margin: 0 0 0 auto;

  color: #00296A;

}

.header__numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: .015em;

  span {
    display: block;
    text-transform: none;
    font-size: 8px;
    letter-spacing: .01em;
    position: absolute;

    bottom: 0;
    left: 2px;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.header__numbers-item {
  position: relative;
  padding-bottom: 13px;
}

.work {
  padding-right: 15px;
}

.header__title-box {
  padding: 10px 0 5px;
  background-color: rgba(#ffffff, .7);
  text-align: center;
  margin-bottom: 35px;

  font-family: 'Roboto-Black';
  font-weight: 900;
  font-size: 14px;

  clip-path: polygon(7% 50%, 0 0, 100% 0, 100% 100%, 0 100%);
}

.header__text {
  text-align: center;

  font-family: 'Roboto-Bold';
  font-weight: 700;

  text-shadow: #ffffff 1px 0 10px;
}

@media (max-width: 576px) {

  .header {
    padding: 10px 0 5px;
  }


  .header__content {
    max-width: 190px;
  }

  .header__numbers {

    margin-bottom: 10px;

    font-size: 14px;
    letter-spacing: .015em;

    span {
      font-size: 6px;
      left: 0;
    }
  }

  .header__numbers-item {
    padding-bottom: 10px;
  }

  .work {
    padding-right: 7px;
  }

  .header__title-box {
    padding: 5px 0 3px;
    margin-bottom: 17px;
    font-size: 8px;
  }

  .header__text {
    font-size: 10px;
  }


}