@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'),
  url('./assets/fonts/Montserrat-Light.eot'),
  url('./assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
  url('./assets/fonts/Montserrat-Light.ttf') format('truetype'),
  url('./assets/fonts/Montserrat-Light.woff') format('woff'),
  url('./assets/fonts/Montserrat-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'),
  url('./assets/fonts/Montserrat-Bold.eot'),
  url('./assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
  url('./assets/fonts/Montserrat-Bold.ttf') format('truetype'),
  url('./assets/fonts/Montserrat-Bold.woff') format('woff'),
  url('./assets/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: local('Montserrat-Black'),
  url('./assets/fonts/Montserrat-Black.eot'),
  url('./assets/fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Montserrat-Black.svg#Montserrat-Black') format('svg'),
  url('./assets/fonts/Montserrat-Black.ttf') format('truetype'),
  url('./assets/fonts/Montserrat-Black.woff') format('woff'),
  url('./assets/fonts/Montserrat-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'),
  url('./assets/fonts/Montserrat-Regular.eot'),
  url('./assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
  url('./assets/fonts/Montserrat-Regular.ttf') format('truetype'),
  url('./assets/fonts/Montserrat-Regular.woff') format('woff'),
  url('./assets/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



